body{
    padding: 0;
    margin: 0;
}
.header-main{
    background-color: #1f2937;
}
.header {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
ul{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    color:hsla(90, 17%, 98%, 0.868);
}
a{
    color: #f9faf8;
    text-decoration: none;
    font-weight: bolder;
}
.imag{
    height: 10px;
    width: 10px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    color:#f9faf8;
    font-weight: 48;
    gap: 80px;
}
.logo{
    /* display: flex; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
button{
    background-color: #3882f6;
    border-radius: 5px;
    padding: 4px 4px 4px 4px;
    color: #f9faf8;
    font-size: large;
    border-color: #f9faf8;
}
.product-info{
    text-align: center;
    margin: 40px 50px 40px 50px;
}
.descriptions{
    margin-bottom: 32px;
    font-size: 38px;
    color: #1f2937;
}
.parts-description{
    display: flex;
    flex-wrap: wrap;
    gap: 52px;
    justify-content: center;
}
.parts{
    max-width: 200px;
}
.part-image{
    width: 200px;
    border-radius: 10px;
}
.quote-section{
    background-color: #e5e7eb;
    padding: 50px;
    color: #1f2937;
    font-size: 26px;
    font-style:italic;
}
.quote{
    display: flex;
    justify-content: center;
    margin:50px 100px 50px 100px;
}
.bus-quote{
    display: flex;
    justify-content:center;
    margin-left: 350px;
}
.call-to-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    color: #f9faf8;
    margin: 70px 300px;
    padding: 40px;
}
.call{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.action-size{
    font-size: larger;
    font-weight: bolder;
}
.footer{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #1f2937;
    color: #f9faf8;
}